* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: karla-bold;
  src: url("/tipografia/KARLA-BOLD.TTF"); }

@font-face {
  font-family: karla-italic;
  src: url("/tipografia/KARLA-ITALIC.TTF"); }

@font-face {
  font-family: karla-regular;
  src: url("/tipografia/KARLA-REGULAR.TTF"); }

.header .navbar .container-fluid .img_logo {
  width: 100px;
  border: solid 2px black;
  border-radius: 20px 0px;
  padding-bottom: 10px;
  background-color: #818262; }

.header .navbar .container-fluid .navbar_contenedor .navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 24px;
  margin: 0 10px;
  font-family: karla-regular; }

#home img {
  object-fit: cover;
  object-position: center center;
  width: 100%; }

#bienvenidos {
  background-color: #ee76840a; }
  #bienvenidos .contenedor_bienvenido .row .bienvenidos__textos {
    padding-top: 50px;
    padding-bottom: 50px; }
    #bienvenidos .contenedor_bienvenido .row .bienvenidos__textos .bienvenido__text1 {
      font-family: karla-regular;
      font-size: 24px;
      color: #818262; }
    #bienvenidos .contenedor_bienvenido .row .bienvenidos__textos .bienvenido__text2 {
      font-family: karla-bold;
      font-size: 36px;
      color: #818262; }
    #bienvenidos .contenedor_bienvenido .row .bienvenidos__textos .bienvenido__text3 {
      font-family: karla-regular;
      font-size: 16px;
      color: #818262; }
  #bienvenidos .contenedor_bienvenido .row .bienvenido__imagenes {
    padding-top: 50px;
    padding-bottom: 50px; }

#servicios {
  background-color: #ee76840a; }
  #servicios .contenedor__servicios .row .servicios__textos {
    padding-top: 50px;
    margin-bottom: -18rem; }
    #servicios .contenedor__servicios .row .servicios__textos .servicio--text1 {
      font-family: karla-regular;
      font-size: 24px;
      color: #818262; }
    #servicios .contenedor__servicios .row .servicios__textos .servicio--img1 {
      width: 30rem;
      margin-top: -15rem;
      margin-right: -6rem; }
  #servicios .contenedor__servicios .row .contenedor__nestros--serv {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 10rem; }

#trayectoria {
  background-image: url("./../../imagenes/LANDING HANSA-10.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem; }
  #trayectoria .contenedor__trayectoria .row .trayectoria__textos {
    flex-direction: column; }
    #trayectoria .contenedor__trayectoria .row .trayectoria__textos .img--trayectoria {
      width: 30%; }
    #trayectoria .contenedor__trayectoria .row .trayectoria__textos .trayectoria--texto1 {
      font-family: karla-regular;
      font-size: 24px;
      color: white; }

#footer {
  background-color: #818262; }
