* {
  margin: 0;
  padding: 0;
  max-width: 100%; }

@font-face {
  font-family: karla-bold;
  src: url("../tipografia/KARLA-BOLD.TTF"); }

@font-face {
  font-family: karla-italic;
  src: url("../tipografia/KARLA-ITALIC.TTF"); }

@font-face {
  font-family: karla-regular;
  src: url("../tipografia/KARLA-REGULAR.TTF"); }

.header .navbar {
  color: #818262; }
  .header .navbar .container-fluid {
    position: relative;
    background-color: #818262; }
    .header .navbar .container-fluid .img_logo {
      position: absolute;
      width: 150px;
      border-radius: 0px 0px 60px 0px;
      background-color: #818262;
      top: -15px;
      left: -5px;
      padding-bottom: 40px;
      padding-left: 30px;
      padding-right: 20px;
      padding-top: 20px;
      box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.568); }
    .header .navbar .container-fluid .navbar_contenedor .navbar-nav .nav-item .nav-link {
      color: white;
      font-size: 24px;
      margin: 0 10px;
      font-family: karla-regular;
      text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.568); }

#home img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.568); }

#bienvenidos {
  background-color: #ee76840a; }
  #bienvenidos .contenedor_bienvenido .row .bienvenidos__textos {
    padding-top: 50px;
    padding-bottom: 50px; }
    #bienvenidos .contenedor_bienvenido .row .bienvenidos__textos .bienvenido__text1 {
      font-family: karla-regular;
      font-size: 24px;
      color: #818262; }
    #bienvenidos .contenedor_bienvenido .row .bienvenidos__textos .bienvenido__text2 {
      font-family: karla-bold;
      font-size: 36px;
      color: #818262; }
    #bienvenidos .contenedor_bienvenido .row .bienvenidos__textos .bienvenido__text3 {
      font-family: karla-regular;
      font-size: 16px;
      color: #818262; }
  #bienvenidos .contenedor_bienvenido .row .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-top: 3rem;
    gap: 10px; }
    #bienvenidos .contenedor_bienvenido .row .grid-container .img__1 {
      box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.568);
      border-radius: 4px;
      width: 50%;
      margin-bottom: 6px; }
    #bienvenidos .contenedor_bienvenido .row .grid-container .img__2 {
      box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.568);
      border-radius: 4px;
      width: 77%; }
    #bienvenidos .contenedor_bienvenido .row .grid-container .img__3 {
      grid-row: 1fr;
      box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.568);
      border-radius: 4px;
      width: 50%; }

#servicios {
  background-color: #ee76840a;
  padding-top: 5rem; }
  #servicios .contenedor__servicios .row .servicio--text1 {
    font-family: karla-regular;
    font-size: 24px;
    color: #818262; }
  #servicios .contenedor__servicios .row .servicio__img {
    position: relative; }
    #servicios .contenedor__servicios .row .servicio__img .servicio--img1 {
      width: 500px;
      position: absolute;
      right: 10rem;
      top: -380px; }
  #servicios .contenedor__servicios .row .contenedor__nestros--serv {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 440px 440px 440px; }

#habitaciones {
  background-color: #ee76840a;
  overflow: hidden;
  padding-top: 4rem;
  padding-bottom: 10rem; }
  #habitaciones .habitaciones__textos .habitacion--text1 {
    font-family: karla-regular;
    font-size: 24px;
    color: #818262; }
  #habitaciones .habitaciones__textos .habitacion--text2 {
    font-family: karla-regular;
    font-size: 32px;
    color: #818262; }
  #habitaciones .habitaciones__rayas {
    position: relative; }
    #habitaciones .habitaciones__rayas .rayas__habitacion {
      width: 500px;
      position: absolute;
      left: -10rem;
      top: -380px; }
  #habitaciones .cards__habitaciones {
    padding-top: 3rem; }
    #habitaciones .cards__habitaciones .card {
      box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.568); }
  #habitaciones .habitaciones__rayas .rayas2__habitacion {
    width: 500px;
    position: absolute;
    right: 0;
    top: -15rem; }

#trayectoria {
  background-image: url("./../imagenes/LANDING HANSA-10.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.568); }
  #trayectoria .contenedor__trayectoria .row .trayectoria__textos {
    flex-direction: column; }
    #trayectoria .contenedor__trayectoria .row .trayectoria__textos .img--trayectoria {
      width: 30%; }
    #trayectoria .contenedor__trayectoria .row .trayectoria__textos .trayectoria--texto1 {
      font-family: karla-regular;
      font-size: 24px;
      color: white;
      text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.568); }

#footer {
  background-color: #818262; }
  #footer .contenedor__footer .row .img__footer {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  #footer .contenedor__footer .row .contenedor__telefono {
    height: 3.1rem; }
    #footer .contenedor__footer .row .contenedor__telefono .telefono__texto {
      font-family: karla-regular;
      color: white;
      font-size: 22px;
      margin-top: 1.8rem;
      margin-left: -1rem; }
  #footer .contenedor__footer .row .contenedor__ubicacion .ubicacion__texto {
    font-family: karla-regular;
    color: white;
    font-size: 22px;
    margin-top: 1.9rem;
    margin-left: -1rem; }

#contenedor-habitaciones .card {
  width: 16rem;
  margin-bottom: 2rem;
  margin-left: 5rem; }
  #contenedor-habitaciones .card .card-img-top {
    width: 100%; }

.contenedor-carrito .carrito-titulo {
  font-size: 2rem;
  border: 1px black solid;
  width: 20rem; }
  .contenedor-carrito .carrito-titulo #carrito .card {
    width: 16rem;
    margin-bottom: 2rem; }
    .contenedor-carrito .carrito-titulo #carrito .card .card-img-top {
      width: 200px; }
