* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: karla-bold;
  src: url("/tipografia/KARLA-BOLD.TTF"); }

@font-face {
  font-family: karla-italic;
  src: url("/tipografia/KARLA-ITALIC.TTF"); }

@font-face {
  font-family: karla-regular;
  src: url("/tipografia/KARLA-REGULAR.TTF"); }

.header .navbar .container-fluid .img_logo {
  width: 100px;
  border: solid 2px black;
  border-radius: 20px 0px;
  padding-bottom: 10px;
  background-color: #818262; }

.header .navbar .container-fluid .navbar_contenedor .navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 24px;
  margin: 0 10px;
  font-family: karla-regular; }

#home img {
  object-fit: cover;
  object-position: center center;
  width: 100%; }

#bienvenidos {
  background-color: #ee76840a; }
  #bienvenidos .contenedor_bienvenido .row .bienvenidos__textos {
    padding-top: 50px;
    padding-bottom: 50px; }
    #bienvenidos .contenedor_bienvenido .row .bienvenidos__textos .bienvenido__text1 {
      font-family: karla-regular;
      font-size: 24px;
      color: #818262; }
    #bienvenidos .contenedor_bienvenido .row .bienvenidos__textos .bienvenido__text2 {
      font-family: karla-bold;
      font-size: 36px;
      color: #818262; }
    #bienvenidos .contenedor_bienvenido .row .bienvenidos__textos .bienvenido__text3 {
      font-family: karla-regular;
      font-size: 16px;
      color: #818262; }
  #bienvenidos .contenedor_bienvenido .row .bienvenido__imagenes {
    padding-top: 50px;
    padding-bottom: 50px; }
