.contenedor-actividades {
    background-color: #ee76840a;

    #contenedor-habitaciones {

        .card {
            width: 16rem;
            margin-left: 7rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            color: #818262;
            box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.568);

            .card-img-top {
                width: 100%;
            }
            .card-title-carrito{
                font-family: karla-regular;
                font-size: 1.5rem;
            }
            .card-precio-carrito{
                font-family: karla-bold;
                font-size: 1.3rem;
            }
            #btn-agregar{
                background: #818262;
            }
        }
    }

    .contenedor-carrito {

        .carrito-titulo {

            border: 1px #818262 solid;
            width: 20rem;
            margin-top: 1rem;
            border-radius: 10px;
            font-family: karla-regular;
            font-size: 36px;
            color: #818262;
            box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.568);
            text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.392);

        }

        #carrito {

            .card {
                width: 16rem;
                margin-bottom: 2rem;
                box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.568);
                margin: 1rem;

                .card-body {

                    .card-title-carrito {
                        font-family: karla-regular;
                        font-size: 24px;
                        color: #818262;
                    }
                    .card-precio-carrito{
                        font-family: karla-bold;
                        font-size: 1.3rem;
                        color: #818262;
                    }
                    .card-cantidad-carrito{
                        font-family: karla-regular;
                        font-size: 1.2rem;
                        color: #818262;
                    }
                    #btn-eliminar{
                        background: #818262;
                    }

                }

            }
        }

        #total {
            font-size: 1.5rem;
            margin: .5rem 1rem;
            font-family: karla-bold;
            color: #818262;

        }
    }

}