#habitaciones{
    background-color: #ee76840a;
    overflow: hidden;
    padding-top: 4rem;
    padding-bottom: 10rem;
    
    .habitaciones__textos{

        .habitacion--text1{
            font-family: karla-regular;
            font-size: 24px;
            color: #818262;
        }
        .habitacion--text2{
            font-family: karla-regular;
            font-size: 32px;
            color: #818262;
        }

    }
    .habitaciones__rayas{
        position: relative;

        .rayas__habitacion{
            width: 500px;
            position: absolute;
            left: -10rem;
            top: -380px;
        }
    }
    .cards__habitaciones{
        padding-top: 3rem;
        .card{
            box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.568);
        }
    }





    .habitaciones__rayas{

        .rayas2__habitacion{
            width: 500px;
            position: absolute;
            right: 0;
            top: -15rem;
        }
    }


}