.header{
    
    .navbar{
       color: #818262;
        .container-fluid{
            position: relative;
            background-color: #818262;
            
            
            .img_logo{
                position: absolute;
                width: 150px;
                border-radius: 0px 0px 60px 0px;
                background-color: #818262;
                top: -15px;
                left: -5px;
                padding-bottom: 40px;
                padding-left: 30px;
                padding-right: 20px;
                padding-top: 20px;
                box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.568);
                
                
            }

            .navbar_contenedor{

                .navbar-nav{

                    .nav-item{

                        .nav-link{
                            color: white;
                            font-size: 24px;
                            margin: 0 10px;
                            font-family: karla-regular;
                            text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.568);
                        }

                    }
                }
            }
        }
    }
}