#registro {
    background-color: #ee76840a;

    .container {

        .contenedor-ingreso {

            .fechasContenedor {
                margin: 1.5rem 2rem;
            }
            .btn-calcular{
                transition: transform 1s;
            }
            .btn-calcular{
                transform: scale(1.05);
            }
        }
        .registroContenedor{
            margin-top: 1rem;
            margin-left: 10rem;

            .tituloRegistro{
                    font-family: karla-regular;
                    font-size: 24px;
                    color: #818262;
            }

            .btn-enviar{
                margin-top: .5rem;
                transition: transform 1s;
            }
            .btn-enviar:hover{
                transform: scale(1.05);
            }

        }



    }
}