#servicios {
    background-color: #ee76840a;
    padding-top: 5rem;

    .contenedor__servicios {

        .row {


            .servicio--text1 {
                font-family: karla-regular;
                font-size: 24px;
                color: #818262;
            }

            .servicio__img{
                position: relative;

                .servicio--img1 {
                width: 500px;
                position: absolute;
                right: 8rem;
                top: -370px;
                }

            }


            .contenedor__nestros--serv {
                
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 440px 440px 440px;
                
            }

        }
    }
}