#servicios{
    background-color: #ee76840a ;

    .contenedor__servicios{

        .row{
            .servicios__textos{
                padding-top: 50px;
                margin-bottom: -18rem;
                

                .servicio--text1{
                    font-family: karla-regular;
                    font-size: 24px;
                    color: #818262;
                }
                .servicio--img1{
                    width: 30rem;
                    margin-top: -15rem;
                    margin-right: -6rem;
                }
            }
            .contenedor__nestros--serv{
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                margin-left: 10rem;
            }

        }
    }
}